In [4]:
import mysql.connector

In [7]:
class Database1:
    my_db=my_cursor=None
    def __init__(self):
        global my_db,my_cursor
        my_db=mysql.connector.connect(host='localhost',user='root',password='',database='test')
        my_cursor=my_db.cursor()
    def __del__(self):
        my_db.commit()
class Database2:
    my_db=my_cursor=None
    def __init__(self):
        global my_db,my_cursor
        my_db=mysql.connector.connect(host='localhost',user='root',password='',database='prodi_sainsdata')
        my_cursor=my_db.cursor()
    def __del__(self):
        my_db.commit()

In [17]:
class memo(Database1):
    def __init__(self,id_anime,name_anime,genre,season,ranting):
        self.id=id_anime
        self.name_anime=name_anime
        self.genre=genre
        self.season=season
        self.ranting=ranting
        

    # buat show by iD:
    def show_id(self):
        sql="SELECT * FROM list_anime ORDER BY name_anime"
        try:
            my_cursor.execute(sql)
            result=my_cursor.fetchall()

        except Exception as e :
            return e
        return result

    # buat insert anime
    def insert_anime(self,data):
        sql=("INSERT INTO list_anime (name_anime,genre,season,ranting) VALUES (%s,%s,%s,%s)")
        try:
            my_cursor.execute(sql,data)
            my_db.commit()
            print(my_cursor.rowcount,"data telah di commit")
        except Exception as E:
            return E
        my_cursor.lastrowid  
    def insert_anime_many(self,data):
        sql="INSERT INTO list_anime (name_anime,genre,season,ranting) VALUES (%s,%s,%s,%s)"
        try:
            my_cursor.executemany(sql,data)
            my_db.commit()
            print(my_cursor.rowcount,"data telah di commit")
        except Exception as E:
            return E

In [16]:
class data_matkul(Database2):
    def show_id(self):
        sql="SELECT * FROM data_matkul ORDER BY id_matkul"
        try:
            my_cursor.execute(sql)
            result=my_cursor.fetchall()

        except Exception as e :
            return e
        return result

    # buat insert anime
    def insert_matkul(self,data):
        sql=("INSERT INTO  data_matkul(nama_matkul,rumpun_kuliah,project_based_learning) VALUES (%s,%s,%s,%s)")
        try:
            my_cursor.execute(sql,data)
            my_db.commit()
            print(my_cursor.rowcount,"data telah di commit")
        except Exception as E:
            return E
        my_cursor.lastrowid  
    def insert_matkul_many(self,data):
        sql="INSERT INTO data_matkul(nama_matkul,rumpun_kuliah,project_based_learning) VALUES (%s,%s,%s,%s)"
        try:
            my_cursor.executemany(sql,data)
            my_db.commit()
            print(my_cursor.rowcount,"data telah di commit")
        except Exception as E:
            return E
class uts(Database2):
    def show_id(self):
        sql="SELECT * FROM uts ORDER BY id_mahasiswa"
        try:
            my_cursor.execute(sql)
            result=my_cursor.fetchall()

        except Exception as e :
            return e
        return result

    # buat insert anime
    def insert_uts(self,data):
        sql=("INSERT INTO  uts(nilai_mahasiswa) VALUES (%d)")
        try:
            my_cursor.execute(sql,data)
            my_db.commit()
            print(my_cursor.rowcount,"data telah di commit")
        except Exception as E:
            return E
        my_cursor.lastrowid  
    def insert_uts_many(self,data):
        sql="INSERT INTO uts(nilai_mahasiswa) VALUES (%d)"
        try:
            my_cursor.executemany(sql,data)
            my_db.commit()
            print(my_cursor.rowcount,"data telah di commit")
        except Exception as E:
            return E